lab9/zad2/KantorKlient/src/com/venio/imported/Kantor.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://venio.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="KantorService" targetNamespace="http://venio.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://venio.com/" elementFormDefault="unqualified" targetNamespace="http://venio.com/" version="1.0">

  <xs:element name="sprawdzKurs" type="tns:sprawdzKurs"/>

  <xs:element name="sprawdzKursResponse" type="tns:sprawdzKursResponse"/>

  <xs:element name="sprzedaj" type="tns:sprzedaj"/>

  <xs:element name="sprzedajResponse" type="tns:sprzedajResponse"/>

  <xs:complexType name="sprawdzKurs">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sprawdzKursResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sprzedaj">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sprzedajResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="sprzedajResponse">
    <wsdl:part element="tns:sprzedajResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sprzedaj">
    <wsdl:part element="tns:sprzedaj" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sprawdzKurs">
    <wsdl:part element="tns:sprawdzKurs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sprawdzKursResponse">
    <wsdl:part element="tns:sprawdzKursResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Kantor">
    <wsdl:operation name="sprawdzKurs">
      <wsdl:input message="tns:sprawdzKurs" name="sprawdzKurs">
    </wsdl:input>
      <wsdl:output message="tns:sprawdzKursResponse" name="sprawdzKursResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sprzedaj">
      <wsdl:input message="tns:sprzedaj" name="sprzedaj">
    </wsdl:input>
      <wsdl:output message="tns:sprzedajResponse" name="sprzedajResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KantorServiceSoapBinding" type="tns:Kantor">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sprawdzKurs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sprawdzKurs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sprawdzKursResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sprzedaj">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sprzedaj">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sprzedajResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KantorService">
    <wsdl:port binding="tns:KantorServiceSoapBinding" name="KantorPort">
      <soap:address location="http://localhost:8080/KantorWebService_war_exploded/Kantor"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>